bin/
target/
build/
.bloop/
.bsp/
.metals
.cache
.cache-main
.classpath
.history
.project
.scala_dependencies
.settings
.worksheet
.DS_Store
*.class
*.tasty
*.log
*.iml
*.ipr
*.iws
.idea
meta.json
/project/project/
/project/metals.sbt
/.vscode/settings.json
/.vscode/launch.json
/camunda-db.mv.db
/examples/invoice/project/build.properties
/camunda-h2-default/process-engine.mv.db
/examples/.datakurre/
/test.json
/examples/invoice/camunda7Worker/camunda-h2-default/external-worker.mv.db
/camunda-h2-default/external-worker.mv.db
/examples/invoice/camunda7Worker/camunda-h2-default/process-engine.mv.db
